.footer-container {
	.flex(space-around, center, row);
	width: 100%;
	background-color: @primary-color-rose;

	div {
		padding: 0 1rem;
		&:last-child {
			@media (max-width: @mobile-view) {
				display: none;
			}
		}
	}
	a {
		text-decoration: none;
		color: @secondary-color-beige;
		&:hover {
			color: @primary-color-blue;
		}
	}

	img {
		block-size: 2rem;
		margin-bottom: 0.75rem;
	}
	ul {
		list-style: none;
		padding: 0;
		color: @secondary-color-beige;
		li {
			&:hover {
				cursor: pointer;
				color: @primary-color-blue;
			}
		}
	}
}
