.footer {
	.flex();
	.width();
	background-color: @primary-color-rose;
	div {
		padding: 0 1rem;
	}
	h3 {
		.flex(center, center, column);
	}
	img {
		block-size: 2rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
}
