.story-container {
	.flex(space-evenly);
	.width-100();
	margin-top: 16px;
	flex-wrap: wrap;
	@media (min-width: 1200px) {
		width: 1200px;
	}
	.story {
		.border-bottom-grey();
		.flex(space-between, none, column);
		background-color: @secondary-color-beige;
		width: 380px;
		margin-bottom: 16px;
		padding: 24px;
		.text {
			font-size: 1rem;
			font-family: Didot, serif;
		}
		.story-teller {
			.flex(none, center);
			margin-top: 15px;
			.img-container {
				padding-right: 10px;
				border-right: 1px solid @primary-color-blue;
				height: 40px;
				img {
					width: 40px;
				}
			}
			span {
				padding-left: 10px;
				font-size: 12px;
				letter-spacing: 1px;
				font-weight: bold;
			}
		}
	}
}
