.nav-bar {
	.flex(center, column);
	width: 100%;
	position: fixed;
	height: 44px;
	background-color: @primary-color-rose;
	z-index: 10;
	color: @secondary-color-beige;

	.mobile-menu {
		display: none;
		color: @secondary-color-beige;
	}
	.menu {
		display: none;
	}
	@media (max-width: @mobile-view) {
		.mobile-menu {
			width: 100%;
			.flex(space-around, center, row);
			//height: 40px;
			background-color: @primary-color-rose;
			color: @secondary-color-beige;
			position: fixed;
			top: 0;
			z-index: 7;

			h1 {
				margin: 0;
				font-size: 1.8rem;
			}
			img {
				height: 2em;
			}
		}
		.menu-button {
			left: 20px;
			cursor: pointer;
		}

		.menu {
			display: none;
			position: fixed;
			top: 44px;
			left: 0;
			width: 350px;
			height: 100vh; /* This give the height 100% of the screen or, '100% of View Height' */
			background-color: @secondary-color-beige;
			color: @primary-color-rose;
			border: 1px solid @primary-color-rose;
			border-left: none;
			border-bottom: none;
			z-index: 10;
			ul {
				padding: 0;
				li {
					list-style-type: none;
					font-size: 32px;
					padding: 30px 0;
					text-align: center;
				}
			}
		}
		.menu--open {
			display: block;
		}
	}
}
.container {
	.width-100();
	.flex(center);
	color: @secondary-color-beige;
	letter-spacing: 1px;
	padding: 0 10px;

	@media (max-width: @mobile-view) {
		display: none;
	}

	.container-left {
		.flex(none, center);
		flex: 3;
		font-size: 1.5rem;
		a {
			text-decoration: none;
			color: @secondary-color-beige;
		}
		span {
			cursor: pointer;
			margin: 0 10%;
			font-weight: bold;
			white-space: nowrap;
			@media (max-width: @tablet-view) {
				display: none;
			}
		}
		img {
			width: auto;
			height: 2rem;
		}
	}
	.container-center {
		.flex(center, center);
		flex: 3;
		font-size: 1rem;
		color: @secondary-color-beige;
		a {
			text-decoration: none;
			color: @secondary-color-beige;
		}
		span {
			cursor: pointer;
			margin-right: 5%;
			&:last-child {
				margin-right: 0;
				@media (max-width: @tablet-view) {
					display: none;
				}
			}
			&:hover {
				text-decoration: underline;
				color: @primary-color-beige;
			}
		}
	}
	.container-right {
		.flex(flex-end, center);
		flex: 3;
		font-size: 1rem;
		font-weight: bold;
		a {
			text-decoration: none;
			color: @secondary-color-beige;
		}
		span {
			cursor: pointer;
			margin-right: 8%;
			padding: 0 2%;
			border: 1px solid @primary-color-blue;
			border-radius: 8%;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: @primary-color-blue;
			}
		}
	}
}
